GIT_USERNAME="manuelvegadev"
GIT_PASSWORD="xxxxxxxx"

# NextAuth credentials
NEXTAUTH_SECRET="xxxxxxxxx" # Generated with https://generate-secret.vercel.app/32
GITHUB_ID=xxxxxxxxxx
GITHUB_SECRET=xxxxxxxxxxx

# Postgres credentials
POSTGRES_USER="default"
POSTGRES_HOST="xxxxxxx.postgres.vercel-storage.com"
POSTGRES_PASSWORD="xxxxxxxx"
POSTGRES_DATABASE="xxxxxxxx"