@use '@carbon/react' as styles;

:root {
  @include styles.theme(styles.$white);
}

[data-carbon-theme='g10'] {
  @include styles.theme(styles.$g10);
}

[data-carbon-theme='g90'] {
  @include styles.theme(styles.$g90);
}

[data-carbon-theme='g100'] {
  @include styles.theme(styles.$g100);
}

body {
  background: styles.$background;
  color: styles.$text-primary;
}

hr {
  display: inline-block;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--cds-border-subtle-02);
  margin: 0;
}

.cds--modal-content--overflow-indicator {
  margin: 0 !important;
  z-index: 1;
}
.cds--modal-content:focus {
    outline: none;
}

@import '../components/form-builder/sub-components/combo-box/combo-box';